<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>App Version:</th>
      <td>{{ version }}</td>
    </tr>
    <tr>
      <th>Pod:</th>
      <td>{{ hostName }}</td>
    </tr>
    <tr>
      <th>Node:</th>
      <td>{{ platform }} ({{ release }})</td>
    </tr>
    <tr>
      <th>Environment Variables:</th>
      <td><pre class="envVars">{{envVars}}</pre></td>
    </tr>
  </table>

</div>
